---
layout: blog
title: Blog
permalink: /blog/
---

<div class="feed-grid">
  {% for post in site.posts %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
    <div class="card"> <img src="{{post.image}}" alt="img"/>
      <div class="info-center">{{post.title}} <button type="button" class="button-white"><a href="{{ site.baseurl }}{{ post.url }}">View post</a></button></div>
    </div>
    {% else %}
    <div class="card-half wide">
      <div class="card-img"><span class="label"></span><img src="{{post.image}}" alt="img"/>
      </div>
      <div class="card-text">
        <h4>{{post.title}}</h4>
        <p>{{ post.excerpt }}</p>
      </div>
      <ul class="card-tools">
        <li class="tools-item"><span class="tools-count"><button type="button" class="button-black">View Post</button></span></li>
      </ul>
    </div>
    {% endif %}
  {% endfor %}

</div>
