<header class="navbar">

  <nav class="mobile mobile-two">
    <div class="header">
      <div class="menu-toggle">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <ul class="mobile-nav">
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/project">Project</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
  </nav>
</header>
