<head>
  {% assign current = page.url | downcase | split: '/' %}
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/navbar.js" charset="utf-8"></script>
  {% if current[1] == site.base-url %}
  <script src="{{ site.baseurl }}/js/landing.js" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/js/typingText.js" charset="utf-8"></script>
  {% endif %}
</head>
