.contact-page{
  background: linear-gradient(to left, rgba(79, 43, 146, 0.48), rgba(26, 9, 161, 0.54)), url(../images/keyboard.jpeg);
  background-size: cover;
  color: $font-color;
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    h1 {
      font-family: 'Suez One', serif;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 40px;
      text-align: center;
    }
  }
}
.form-row{
  width: 60vw;
}

.contact-form {
  list-style-type: none;
}


.contact-form li div {
  margin-bottom: 2.5em;
  display: flex;
  justify-content: center;
}
.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  margin: 0;
  padding-bottom: 1.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 3px solid $font-color;
  background: transparent;
  font-family: $helvetica;
  color: $font-color;
  font-weight: 700;
  font-size: 18px;
  transition: ease-in-out 0.25s;
}
.contact-form textarea {
  min-height: 150px;
  max-height: 500px;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: vertical;
}
.contact-form ::-webkit-input-placeholder {
  text-align: center;
  font-size: 0.8em;
  color: $font-color;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $helvetica;
}
.contact-form :-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-size: 0.8em;
  color: $font-color;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $helvetica;
}

.contact-form ::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  font-size: 0.8em;
  color: $font-color;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $helvetica;
}

.contact-form :-ms-input-placeholder {
  text-align: center;
  font-size: 0.8em;
  color: $font-color;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $helvetica;
}


.contact-form label {
  font-size: 12px;
  color: $font-color;
  text-transform: uppercase;
  font-weight: 400;
}
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form input:hover,
.contact-form select:hover,
.contact-form textarea:hover,
.contact-form button:focus {
  outline: none;
  resize: none;
  border-bottom: 3px solid #4215c4;
}

.contact-form button {
  color: $font-color;
  background: rgba(34, 34, 34, 0);
  border: 3px solid $font-color;
  height: 74px;
  width: 200px;
  float: right;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact-form button:hover {
  background: rgba(65, 22, 190, 0.55);
  color: $font-color;
}

@media screen and(max-width: 500px) {
  .form-row{
    width: 100vw;
  }
}
